<!DOCTYPE html>
<html>
<head>
  <title>Register Form</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h2>Register Form</h2>
  <form method="POST" action="/api/login">
    <label>Mobile Number:</label>
    <input type="number" name="mobileNumber" required>
    <label>Name:</label>
    <input type="text" name="name" required>
    <label>language:</label>
    <input type="text" name="language" required>
    <label>Game Play Time:</label>
    <input type="number" name="gamePlayTime" required>
    <label>Username:</label>
    <input type="string" name="username" required>

    <button type="submit" >Submit</button>

	</form>


</body>
</html>
